


<div class="yo" style="display: flex; justify-content: center; flex-direction: row;">
    <a id="home" href="home">Home page</a>
    <a href="about">Our Services</a>
    <a href="contact">Contact us</a>
</div>

<div>
    <p style="text-align: center; font-size: large;">
        home page
    </p>
</div>

<style>
    a{
        text-decoration: none;
        margin-left: 30px;
    }
</style>